<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">
	<targets>
		<target name="coloredConsoleTarget" xsi:type="Console"
		        layout="[${level:uppercase=true}] [${longdate}] [${logger}] [${message}]${when:when=level>=LogLevel.Error:inner= [${callsite}]} ${when:when=length('${exception}')>0::inner='[${exception:format=toString,Data:maxInnerExceptionLevel=10}]}"/>

		<target name="csv" xsi:type="Memory">
			<layout xsi:type="CsvLayout">
				<column name="[Time]" layout="${longdate}" />
				<column name="[Level]" layout="${level}" />
				<column name="[Logger]" layout="${logger}"/>
				<column name="[Message]" layout="${positionUpdate}"/>
				<column name="[ExceptionMessage]" layout="${exception}"/>
				<column name="[StackTrace]" layout="${exception:format=Message,StackTrace,Data:maxInnerExceptionLevel=10}"/>
			</layout>
		</target>
	</targets>

	<rules>
		<logger name="*" minlevel="Debug" writeTo="coloredConsoleTarget" />
	</rules>
</nlog>